
header {
    background-color: #EFB11D;
    margin: 0;
    padding-left: 15px;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #E43D12;
    font-family: "Abril Fatface";
    font-size: 25px;
}

.nav_menu {
    display: flex;
    float: right;
    margin-right: 50px;
    text-decoration: none;
    gap: 20px;
    font-size: 25px;
}

.link_nav {
    text-decoration: none;
    color: #E43D12;
}

.link_nav:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 60px;
    color: #EEE2DC;
    font-family: "Abril Fatface";
}

#home {
    display: flex;
}

#home_page {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8985.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    flex-direction: column;
    background-size: 100%;
}

.icons_home {
    height: 30px;
    width: 30px;
}

#conteneur_icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #EEE2DC;
    padding: 5px;
    border-radius: 15px;
}

footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFB11D;
    color: #E43D12;
    font-family: "Lato";
    padding-top: 5px;
    padding-bottom: 5px;
}

#about_page {
    background-color: #EEE2DC;
    color: #EEE2DC;
    background-size: 100%;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE2DC;
    color: #E43D12;
    font-size: 30px;
    font-family: "Abril Fatface";
}

#conteneur_about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#id_image {
    height: 80vh;
    width: 50vw;
    margin: 3%;
    border-color: #EFB11D;
    border-style: solid;
    border-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

#div_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lato";
    font-size: 25px;
    margin: 3%;
    background-color: #4056A1;
    border-radius: 25px;
    padding: 15px;
}

.skill_name {
    font-size: 15px;
    color: #EEE2DC;
    font-family: "Abril Fatface";
}

.skill_bar {
    background-color: #EEE2DC;
    border-radius: 25px;
    overflow: hidden;
}

.bar_fill {
    background-color: #C5CBE3;
    color: #4056A1;
    font-size: 15px;
    margin: 5px;
    line-height: 25px;
    border-radius: 25px;
    padding-left: 5px;
}

#completely_full {
    padding-right: 15px;
}

#services_page {
    background-color: #E43D12;
    color: #EEE2DC;
    background-size: 100%;
}

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E43D12;
    color: #EEE2DC;
    font-size: 30px;
    font-family: "Abril Fatface";
}

#gros_conteneur {
    display: flex;
    flex-direction: column;
    background-color: #E43D12;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: "Lato";
    font-weight: bolder;
    font-size: 3vh;
    
}

.conteneurs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.boites {
    display: flex;
    background-color: #C5CBE3;
    color: #4056A1;
    margin: 30px;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 28vw;
    flex-direction: column;
    padding-top: 10px;
    border-radius: 25px;
    font-weight: bolder;
    font-family: "Abril Fatface";

}

.icons {
    display: flex;
    margin: 30px;
}

#dress_needle {
    height: 50px;
    width: 50px;
}

#couture {
    height: 50px;
    width: 50px;
}

#eco_friendly {
    height: 50px;
    width: 50px;
}

#dress_pencil {
    height: 50px;
    width: 50px;
}

#ipad_bag {
    height: 50px;
    width: 50px;
}

#magazine {
    height: 50px;
    width: 50px;
}

.text_services {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
}

#margin_box1 {
    margin-left: 17px;
}

#margin_box4 {
    margin-left: 17px;
}

#margin_box6 {
    margin-left: 17px;
}

#portfolio_page {
    background-color: #4056A1;
    display: flex;
    flex-direction: column;
}

#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4056A1;
    background-size: 100%;
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #EFB11D;
}

#portfolio_conteneur1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-size: 100%;
    margin-top: 10px;
}

#weird_hat {
    height: 60vh;
    width: 40vw;
    border-radius: 25px;
}

#black_and_red {
    height: 80vh;
    width:  50vw;
    padding-top: 20px;
    border-radius: 55px;
}

#portfolio_conteneur2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}

#umbrella_skirt {
    width: 40vw;
    padding-left: 20px;
    border-radius: 45px;
}

#black_and_orange {
    height: 80vh;
    width: 50vw;
    padding-top: 70px;
    justify-content: right;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
}

.portfolio_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 30px;
    font-size: 20px;
    background-color: #D6536D;
    background-color: #EEE2DC;
    border-radius: 25px;
    padding: 5px;
}

.link_portfolio {
    color: #EFB11D;
    text-decoration: none;
    font-family: "Lato";
}

.link_portfolio:hover {
    transform: scale(1.3);
}

#blog {
    display: flex;
    justify-content: center;
    font-family: "Abril Fatface";
    font-size: 30px;
    color: #E43D12;
}

#blog_page {
    background-color: #C5CBE3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 55px;
}

#conteneur_blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.boites_blog {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.boites_blog:hover {
    transform: scale(1.05);
}

.blog_entry{
    background-color: #EEE2DC;
    height: 60px;
    border-width: 10px;
    border-style: solid;
    border-color: #EEE2DC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    color: #4056A1;
}

#weirdo_ladies {
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}

#red_catwalk {
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}

#fashion_disaster {
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}

#contact_page {
    background-color: #EEE2DC;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact {
    font-family: "Abril Fatface";
    color: #E43D12;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteneur_contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-bottom: 25px;
}

#conteneur_icons_contact {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface";
    color: #4056A1;
}

#address_icon {
    height: 50px;
    width: 50px;
}

#email_icon {
    height: 50px;
    width: 50px;
}

#phone_icon {
    height: 50px;
    width: 50px;
}

#contact1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 50px;
    justify-content: center;
}

#small_contact1 {
    width: 50vw;
}

#name_box {
    width: 45vw;
    border-radius: 5px;
    padding: 15px;
    border-style: none;
}

#small_contact2 {
    width: 50vw;
}

#email_box {
    width: 45vw;
    border-radius: 5px;
    padding: 15px;
    border-style: none;
}

input {
    background-color: #C5CBE3;
}

#contact2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-radius: 5px;
}

#message_box {
    height: 40vh;
    width: 96vw;
    border-radius: 5px;
    border-style: none;
    display: flex;
}

#submit {
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-family: "Lato";
    background-color: #4056A1;
    color: #EEE2DC;
}